[Unit]
Description=Gunicorn instance to serve recommendations
After=network.target

[Service]
User=raphaeluziel
Group=www-data
WorkingDirectory=/home/raphaeluziel/recommendations
Environment="PATH=/home/raphaeluziel/recommendations/venv/bin"
ExecStart=/home/raphaeluziel/recommendations/venv/bin/gunicorn --access-logfile - --workers 1 --bind unix:/home/raphaeluziel/recommendations/recommendations.sock recommendations.wsgi:application

[Install]
WantedBy=multi-user.target
