{% extends "responses/base.html" %}

{% block title %}
  Mr. Uziel's College Recommendation Page
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <!--
      <div class="col-sm-4">
        Students registered
        <ol>
          {% for student in students %}
            <li><a href="{% url 'get_student_responses' student.id %}">{{ student.first_name }} {{ student.last_name }}</a></li>
          {% endfor %}
        </ol>
      </div>
      -->
      <div class="col-sm-12">
        Submissions
        <ol>
          {% for response in responses %}
            <li>
              {% if response.status == 'Written' %}
                <b style="color:lightgreen;">Done!</b>
              {% endif %}
              <a href="{% url 'get_student_responses' response.student.id %}">
                {{ response.student.first_name }} {{ response.student.last_name }}
              </a>
              <span class='submitted'>
                {% load tz %}{% timezone "America/New_York" %}{{ response.timestamp }}{% endtimezone %}
              </span>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>

{% endblock %}
