{% extends "responses/base.html" %}

{% block title %}
  Mr. Uziel's College Recommendation Page
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <!--
      <div class="col-sm-4">
        Students registered
        <ol>
          {% for student in students %}
            <li><a href="{% url 'get_student_responses' student.id %}">{{ student.first_name }} {{ student.last_name }}</a></li>
          {% endfor %}
        </ol>
      </div>
      -->
      <div class="col-sm-12">
        <!--Submissions-->
        <ol>
          {% for response in responses %}
            <li>
              {% if response.status == "Not Submitted" %}
                <b style="color:purple;">Am I writing this?</b>
              {% endif %}
              {% if response.status == 'Written' %}
                <b style="color:lightgreen;">NOT Uploaded</b>
              {% endif %}
              {% if response.status == 'Uploaded' %}
                <b style="color:pink;">Common App Needed</b>
              {% endif %}
              {% if response.status == 'CommonApp' %}
                <b style="color:red ;">DONE!</b>
              {% endif %}
              <a href="{% url 'get_student_responses' response.student.id %}">
                {{ response.student.first_name }} {{ response.student.last_name }}
              </a>
              <span class='submitted'>
                {% load tz %}{% timezone "America/New_York" %}{{ response.timestamp }}{% endtimezone %}
              </span>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Written: <b>{{ written }}</b> out of <b>{{ total }}</b> or <b>{{ percentage }}%</b><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Not Written: <b>{{ not_done }}</b>
      </div>
    </div>
  </div>

{% endblock %}
