{% extends "responses/base.html" %}

{% block title %}
  Mr. Uziel's College Recommendation Page
{% endblock %}

{% block body %}
  <h1>Mr. Uziel</h1>
  <h4>Recommendation Letter Questionnaire</h4>
  <p class="dueDate">Due June 30</p>

  <hr>
  <a href="{% url 'logout' %}">logout</a>

  <p>
    <b>If</b> I agreed to write you a recommendation for college, <b>then</b> fill out the form below as best you can.  I write letters over the summer, and will not have time come September.
    <br><br>
    To make my letter a great letter, remind me about specific things you did that made you stand out. Do not include things I already know like “I participated a lot” or “I did well on tests” or “I always did my homework”.
    <br><br>
    One specific anecdote (story) you tell me is worth a hundred general statements!
  </p>

  <hr>

  <form action="{% url 'submit_responses' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="questions">
      Describe any class demonstrations you may have participated in.  What was your role?
    </div>
    <textarea name="question01" rows="8" cols="80">{{ student_response.question01 }}</textarea><br>&nbsp;

    <div class="questions">
      Are there any interesting questions you remember asking in class, or after class? Be specific.
    </div>
    <textarea name="question02" rows="8" cols="80">{{ student_response.question02 }}</textarea><br>&nbsp;

    <div class="questions">
      Was there something, a concept, that you learned in class that you put to use, or observed in your life and activities outside of class. Again, be specific.
    </div>
    <textarea name="question03" rows="8" cols="80">{{ student_response.question03 }}</textarea><br>&nbsp;

    <div class="questions">
      Were there any science extracurricular activities you participated in while in high school? Is there a program you will be attending this summer? Be specific with the name and dates of the program.
    </div>
    <textarea name="question04" rows="8" cols="80">{{ student_response.question04 }}</textarea><br>&nbsp;

    <div class="questions">
      If you already have a good idea as to what you want to study in college, or a career goal for the future, let me know what it is, and how sure you are of this. It's okay to put undecided, or multiple answers.
    </div>
    <textarea name="question05" rows="2" cols="80">{{ student_response.question05 }}</textarea><br>&nbsp;

    <div class="questions">
      Is there a homework assignment, or lab (that you have with you, obviously) that you would like to upload that demonstrates the quality of your work? If so, upload it.
    </div>
    <b>File Upload</b><br>&nbsp;
    <input type="file" name="work" />


    <div class="questions">
      Is there anything else you think made you stand out that was not addressed in the previous questions? If so tell me!
    </div>
    <textarea name="question06" rows="8" cols="80">{{ student_response.question06 }}</textarea>

    <button type="submit" class="btn btn-info">Submit Responses</button>
  </form>

{% endblock %}
